svg {
  height: 3em;
  width: 3em;
}
.dude {
  height: auto;
  width: 300px;
}
.conditions {
  background-color: var(--lG);
  text-align: center;
}
.conditions svg {
  height: 150px;
  width: auto;
}
svg.windspeed {
  border-radius: 50%;
  -webkit-animation: rotate var(--bftSpeed) linear infinite reverse;
  animation: rotate var(--bftSpeed) linear infinite reverse;
  transform-box: fill-box;
  -webkit-transform-origin: center;
  transform-origin: center;
}

/*----------------------------*/
:root {
  background-color: gray;
  font-size: calc(16px + 1vw);
  line-height: calc(1.1em + 0.5vw);
  --bftclr: var(--bf1);
  --bftSpeed: 5s;
  --windspeed-s: 65s;
  --windspeed-m: 45s;
  --windspeed-f: 35s;
  --wh: #dff0fe;
  --pw: #fff;
  --bl: #000;
  --rd: #ff0000;
  --lb: #98ccfd;
  --db: #4788c7;
  --lg: #a5a5a5;
  --dg: #808083;
  --ly: #fce6b1;
  --dy: #ffc843;
  --by: #3f3a02;
  --s1: #fff76b;
  --s2: #fff845;
  --s3: #ffda4e;
  --s4: #fb8933;
  --s5: #fdc830;
  --s6: #f37335;
  --bf0: #99ffcc; /*BF2*/
  --bf1: #99ff66; /*BF3*/
  --bf2: #ccff00; /*BF6*/
  --bf3: #ffcc00; /*BF8*/
  --bf4: #ff6600; /*BF10*/
  --bf5: var(--rd); /*BF12*/
  --bfs: var(--lb);
}
/* KEYFRAMES */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
