html {
  background: linear-gradient(30deg, #0575e6, #021b79);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

svg {
  padding: 1rem;
}

// DAY
.clear-day {
  animation: clear-day--sun linear infinite 60s;
}

@keyframes clear-day--sun {
  100% {
    transform: rotate(360deg);
  }
}

// NIGHT
.clear-night,
.cloudy-night {
  .star {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}n) {
        //scss random function to the duration of the animation and the delay
        animation: night--star
          #{(random(15) / 2) +
          1}s
          linear
          infinite
          #{random(5) /
          10}s;
      }
    }
  }
}

@keyframes night--star {
  0%,
  10% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 0.5;
  }
  90%,
  100% {
    opacity: 0;
  }
}

// CLOUDY
.cloudy {
  .cloud {
    opacity: 0;

    @for $i from 1 through 2 {
      &:nth-child(#{$i}n) {
        animation: cloudy--clouds
          #{(random(7) / 2) +
          8}s
          linear
          infinite
          #{random(7) /
          2}s;
      }
    }
  }
}

@keyframes cloudy--clouds {
  0%,
  10% {
    transform: translateX(-80px);
    opacity: 0;
  }
  20%,
  80% {
    opacity: 0.5;
  }
  90%,
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}

// FOG
.fog {
  .fog-line {
    @for $i from 1 through 7 {
      &:nth-child(#{$i}n) {
        animation: fog--line
          #{(random(5) / 2) +
          10}s
          linear
          infinite
          #{random(5) /
          10}s;
      }
    }
  }
}

@keyframes fog--line {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// CLOUDY DAY
.cloudy-day {
  .cloudy-day--sun {
    animation: cloudy-day--sun linear infinite 60s;
    transform-origin: 19px 19px;
  }
}

@keyframes cloudy-day--sun {
  100% {
    transform: rotate(360deg);
  }
}

// CLOUDY NIGHT
.cloudy-night {
  .cloudy-night--moon {
    animation: cloudy-night--moon 20s linear infinite;
  }
}

@keyframes cloudy-night--moon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

// RAIN, SLEET
.rain,
.sleet,
.snow {
  .rain--drops {
    path {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}n) {
          animation: rain--drops
            #{(random(5) / 2) +
            1}s
            linear
            infinite
            #{random(5) /
            10}s;
        }
      }
    }
  }
}

@keyframes rain--drops {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

// SNOW
.snow {
  .snow--flakes {
    g {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}n) {
          animation: snow--flakes
            #{(random(5) / 2) +
            1}s
            linear
            infinite
            #{random(5) /
            10}s;
        }
      }
    }
  }
}

@keyframes snow--flakes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

// THUNDERSTORM

.thunderstorm {
  .thunder {
    @for $i from 1 through 9 {
      &:nth-child(#{$i}n) {
        animation: thunder
          #{(random(5) / 2) +
          5}s
          linear
          infinite
          #{random(7) /
          10}s;
      }
    }
  }
}

@keyframes thunder {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

// WIND

.wind {
  .wind-1,
  .wind-2 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .wind-1 {
    animation: wind-1 0.5s infinite linear;
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
  }

  .wind-2 {
    opacity: 0.5;
    animation: wind-2 0.5s infinite linear;
    stroke-dasharray: 5;
    stroke-dashoffset: 20;
  }
}

@keyframes wind-1 {
  100% {
    stroke-dashoffset: 20;
  }
}

@keyframes wind-2 {
  100% {
    stroke-dashoffset: 0;
  }
}
